<title>My application</title>
<h1>Hello, World!</h1>
<h4>In the 1st form enter a list of integers for the first array</h4>
<h4>In the 2nd form enter a list of integers for the second array</h4>
<h4>In the 3rd form enter an integer</h4>
<h4>In the 4th form enter the predicate mean</h4>
Result is {{result}}


<form action="compute" method="post">
    <textarea name="input1" rows="10" cols="30"></textarea>
    <textarea name="input2" rows="10" cols="30"></textarea>
    <textarea name="input3" rows="10" cols="30"></textarea>
    <textarea name="input4" rows="10" cols="30"></textarea>
    <br>
    <input type="submit">
</form>
